html {
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    margin: 0;
    padding: 0;
    height: 100vh;
    grid-template-rows: 50px minmax(92px, 1fr) 100px 1fr 50px auto;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 30px 10px 0 10px;
    padding: 0;
}

.header>* {
    padding: 10px 10px;
}

.bento-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height: 16px;
    width: 16px;
}

.bento-dot {
    width: 4px;
    height: 4px;
    border-radius: 999px;
    background: #2c2c2c;
    overflow: hidden;
}

.header img {
    border-radius: 35px;
}

.logo {
    display: flex;
    align-items: end;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    min-width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid rgb(224, 224, 224);
}

.button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.button input {
    height: 35px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.footer {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
    background: #f2f2f2;
}

.footer1 {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px 25px;
}

.footer2 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px 25px;
}

.footer2 .left {
    display: flex;
}

.footer2 .left>* {
    margin-right: 10px;
}

.footer2 .center {
    display: flex;
}

.footer2 .right {
    display: flex;
    justify-content: flex-end;
}

.footer2 .right>* {
    margin-left: 10px;
}

@media screen and (max-width: 1050px) {
    .footer2 {
        min-width: 520px;
        grid-template-rows: 50px 50px 50px;
    }

    .footer2 .center {
        order: 1;
        grid-column: 1 / -1;
        justify-content: center;
    }

    .footer2 .left {
        order: 2;
        grid-column: 1 / -1;
        justify-content: center;
    }

    .footer2 .right {
        order: 3;
        grid-column: 1 / -1;
        justify-content: center;
    }
}